* {
  font-family: Helvetica, sans-serif;
}

.homeButton {
  width: 200px;
  padding: 25px;
  margin: 20px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border-width: 0px;
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
}

.homeButton:hover {
  background-color: darkgrey;
}

.homeLink {
  text-decoration: none;
  color: black;
}

.inputField {
  width: 200px;
  padding: 10px;
  margin: 20px;
  font-style: italic;
  font-size: 15px;
}

.app{
  height: 100vh;
  width: 100vw;
  background: white;
}

.Home{
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Head{
  border: 2px solid black;
  background: white;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.homeAccess{
  border: 2px solid black;
  background: white;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.accessTitle {
  margin: 100px;
}

.EventCreate{
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
}

.TemplateEditor{
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Feedback{
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Review{
  border: 2px solid black;
  background: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.questions{
  border: 2px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.SubmitResponse{
  border: 2px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.questionAnswer{
  border: 2px solid black;
  background: white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}